*,
html {
    margin: 0;
    padding: 0;
}

.container-navbar {
    background-color:black;
    width: 100%;
    height: 10%;
}

.ul-navbar {
    justify-content: center;
    align-items: center;
    height: 80px;

    display: flex;
}

.li-navbar {
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: white;
}

.li-navbar:hover{
    background-color: violet;
    transition: .3s ease-in-out;
    transition-delay: .2s;
    border-radius: 8px;
}

.a-navbar {
    color: whitesmoke;
    text-decoration: none;
    font-weight: 800;
}

.container-content {
    background-color: #555  ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-style: italic;
}

.a-content {
    width: 80%;
    height: 80%;
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);;
}

.img-content {
    height: 80%;
    width: 25%;
}

.container-footer {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.h1-footer {
    font-size: 30px;
    color: antiquewhite;
    font-style:italic;
    color: whitesmoke;
}
